.body_backgorund 
{
    background-image:url(giphy.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border: 10px ridge red;
   background-color: white;
}
button{
    margin-top: 700px;
}